<!DOCTYPE html>
<html>
 <head>
     <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
       <% include partials/nav.ejs %>
  </head>
  <body>
    <h1>Home page!</h1>
    <h1>Student Infomation</h1>

    <p>Thank you for filling out the student information form.</p>
    <p>We will get in touch with you as soon as we can.</p>
    <p>Your name will be kept on file</p>

  </body>
</html>
